/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2019, 8:56:50 AM
    Author     : ADMIN
*/
#main {
    padding-left:10%;
    padding-right:10%;
    background:#eeebee;
}
#body-main {
    background:white;
    padding:15px;
}

